## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key
import matplotlib.pyplot as plt

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,60.17,82,100,24.61,light rain
1,1,Fonte Boa,BR,-2.4959,-66.2662,72.68,98,100,1.14,overcast clouds
2,2,Matagami,CA,49.7502,-77.6328,64.51,77,75,9.22,broken clouds
3,3,Zaoyang,CN,32.1272,112.7542,79.02,73,92,4.54,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,72.59,75,18,9.19,few clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Zaoyang,CN,32.1272,112.7542,79.02,73,92,4.54,overcast clouds
5,5,Kapaa,US,22.0752,-159.3190,84.52,65,0,14.97,clear sky
6,6,Butaritari,KI,3.0707,172.7902,81.99,76,100,7.90,overcast clouds
15,15,Salalah,OM,17.0151,54.0924,77.09,94,100,6.91,overcast clouds
21,21,Albany,US,42.6001,-73.9662,77.41,79,48,8.81,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Naze,JP,28.3667,129.4833,82.47,64,95,3.60,overcast clouds
694,694,Prainha,BR,-1.8000,-53.4800,75.87,79,71,3.11,broken clouds
700,700,Minab,IR,27.1467,57.0801,88.02,78,100,4.21,overcast clouds
701,701,Labuhan,ID,-6.8844,112.2051,81.07,71,14,7.23,few clouds
702,702,Manaure,CO,11.7751,-72.4445,81.55,73,76,14.65,broken clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Zaoyang,CN,32.1272,112.7542,79.02,73,92,4.54,overcast clouds
5,5,Kapaa,US,22.0752,-159.3190,84.52,65,0,14.97,clear sky
6,6,Butaritari,KI,3.0707,172.7902,81.99,76,100,7.90,overcast clouds
15,15,Salalah,OM,17.0151,54.0924,77.09,94,100,6.91,overcast clouds
21,21,Albany,US,42.6001,-73.9662,77.41,79,48,8.81,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Naze,JP,28.3667,129.4833,82.47,64,95,3.60,overcast clouds
694,694,Prainha,BR,-1.8000,-53.4800,75.87,79,71,3.11,broken clouds
700,700,Minab,IR,27.1467,57.0801,88.02,78,100,4.21,overcast clouds
701,701,Labuhan,ID,-6.8844,112.2051,81.07,71,14,7.23,few clouds
702,702,Manaure,CO,11.7751,-72.4445,81.55,73,76,14.65,broken clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Zaoyang,CN,79.02,overcast clouds,32.1272,112.7542,
5,Kapaa,US,84.52,clear sky,22.0752,-159.3190,
6,Butaritari,KI,81.99,overcast clouds,3.0707,172.7902,
15,Salalah,OM,77.09,overcast clouds,17.0151,54.0924,
21,Albany,US,77.41,scattered clouds,42.6001,-73.9662,
26,Oistins,BB,80.69,scattered clouds,13.0667,-59.5333,
27,Hamilton,US,83.03,haze,39.1834,-84.5333,
33,Flagstaff,US,89.26,few clouds,35.1981,-111.6513,
34,Atuona,PF,77.58,few clouds,-9.8000,-139.0333,
35,Nola,IT,79.63,clear sky,40.9220,14.5329,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Zaoyang,CN,79.02,overcast clouds,32.1272,112.7542,Shanghai Hotel
5,Kapaa,US,84.52,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Butaritari,KI,81.99,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
15,Salalah,OM,77.09,overcast clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
26,Oistins,BB,80.69,scattered clouds,13.0667,-59.5333,Butterfly Beach Hotel
...,...,...,...,...,...,...,...
693,Naze,JP,82.47,overcast clouds,28.3667,129.4833,Shishime Hotel
694,Prainha,BR,75.87,broken clouds,-1.8000,-53.4800,Casa Rocha
700,Minab,IR,88.02,overcast clouds,27.1467,57.0801,Bam campground
701,Labuhan,ID,81.07,few clouds,-6.8844,112.2051,DoubleFAG
702,Manaure,CO,81.55,broken clouds,11.7751,-72.4445,Hotel Palaaima

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Weatherpy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.Markers(locations, hotel_info)
marker_layer = marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

# I haven't been able to add layers or markers onto my maps

TypeError: Widget.__init__() takes 1 positional argument but 3 were given